.image-icon {
  max-width: 48px;
  margin-top: 15px;
}
.title-search {
  color: #222;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.card {
  height: 107px;
  border-radius: 12px;
background: white;
box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
border: none!important;
cursor: pointer;
}
.card-text {
  margin-top: -5px;
}

.sub-title {
  color: #222;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sub-description {
  color: #5E5E5E;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn-black {
  border-radius: 8px;
background: #000;
color: white;
width: 100%;
img {
  width: 20px;
height: 20px;
}
}
.search-ico {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 20px;
}
.input-search {
padding-left: 30px;
}
