.image-icon {
  max-width: 117px;
  width: 117px;
  height: 117px;
}
.title-card {
  color: #222;
font-size: 16px;
font-style: normal;
font-weight: 590;
line-height: normal;
}
.sub-title {
  color: #5E5E5E;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-card {
  color: #222;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card-center {
  display: flex;
      justify-content: center;
      align-items: center;
}
.card-text {
  margin-top: -5px;
}
.card-bod {
  margin-top: 22px;
  margin-left: 5px;
}

.sub-description {
  color: #5E5E5E;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.sub-text {
  color: #222;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
